# Project Market - Barein

https://pbpython.com/market-basket-analysis.html

http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/#frequent-itemsets-via-apriori-algorithm

In [4]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
# Carga data
df = pd.read_excel('data.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
df.shape

(541909, 8)

In [7]:
# Eliminar clave primaria que inicia con C
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [9]:
# canasta Paises Bajos
basket = (df[df['Country'] =="Netherlands"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
basket.head()

Description,10 COLOUR SPACEBOY PEN,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,16 PIECE CUTLERY SET PANTRY DESIGN,20 DOLLY PEGS RETROSPOT,200 RED + WHITE BENDY STRAWS,3 HEARTS HANGING DECORATION RUSTIC,3 HOOK HANGER MAGIC GARDEN,...,WRAP RED APPLES,WRAP WEDDING DAY,YELLOW METAL CHICKEN HEART,ZINC HEART T-LIGHT HOLDER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536403,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
539491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
539731,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,192.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
541570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,192.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
basket.shape

(95, 803)

In [11]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [12]:
basket_sets.head()

Description,10 COLOUR SPACEBOY PEN,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,16 PIECE CUTLERY SET PANTRY DESIGN,20 DOLLY PEGS RETROSPOT,200 RED + WHITE BENDY STRAWS,3 HEARTS HANGING DECORATION RUSTIC,3 HOOK HANGER MAGIC GARDEN,...,WRAP RED APPLES,WRAP WEDDING DAY,YELLOW METAL CHICKEN HEART,ZINC HEART T-LIGHT HOLDER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536403,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
539491,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
539731,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
541206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
541570,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# Aplicar apriori

In [13]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [14]:
frequent_itemsets.head()

    support                             itemsets
0  0.073684         (3 HOOK HANGER MAGIC GARDEN)
1  0.073684           (36 FOIL HEART CAKE CASES)
2  0.073684  (5 HOOK HANGER RED MAGIC TOADSTOOL)
3  0.105263     (72 SWEETHEART FAIRY CAKE CASES)
4  0.073684         (BREAD BIN DINER STYLE PINK)

In [15]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(72 SWEETHEART FAIRY CAKE CASES),(DOLLY GIRL LUNCH BOX),0.105263,0.231579,0.094737,0.900000,3.886364,0.070360,7.684211
1,(DOLLY GIRL LUNCH BOX),(72 SWEETHEART FAIRY CAKE CASES),0.231579,0.105263,0.094737,0.409091,3.886364,0.070360,1.514170
2,(72 SWEETHEART FAIRY CAKE CASES),(ROUND SNACK BOXES SET OF 4 FRUITS),0.105263,0.178947,0.073684,0.700000,3.911765,0.054848,2.736842
3,(ROUND SNACK BOXES SET OF 4 FRUITS),(72 SWEETHEART FAIRY CAKE CASES),0.178947,0.105263,0.073684,0.411765,3.911765,0.054848,1.521053
4,(72 SWEETHEART FAIRY CAKE CASES),(ROUND SNACK BOXES SET OF4 WOODLAND),0.105263,0.263158,0.073684,0.700000,2.660000,0.045983,2.456140

In [16]:
rules.sort_values(by=['confidence'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1317,"(STRAWBERRY LUNCH BOX WITH CUTLERY, FOOD CONTA...",(DOLLY GIRL LUNCH BOX),0.073684,0.231579,0.073684,1.00,4.318182,0.056620,inf
494,"(FOOD CONTAINER SET 3 LOVE HEART, DOLLY GIRL L...",(SPACEBOY LUNCH BOX),0.084211,0.294737,0.084211,1.00,3.392857,0.059391,inf
1330,"(STRAWBERRY LUNCH BOX WITH CUTLERY, SPACEBOY L...",(DOLLY GIRL LUNCH BOX),0.073684,0.231579,0.073684,1.00,4.318182,0.056620,inf
387,"(CHILDREN'S APRON DOLLY GIRL, SPACEBOY LUNCH BOX)",(DOLLY GIRL LUNCH BOX),0.073684,0.231579,0.073684,1.00,4.318182,0.056620,inf
386,"(CHILDREN'S APRON DOLLY GIRL, DOLLY GIRL LUNCH...",(SPACEBOY LUNCH BOX),0.073684,0.294737,0.073684,1.00,3.392857,0.051967,inf
...,...,...,...,...,...,...,...,...,...
237,(SPACEBOY LUNCH BOX),(PACK OF 60 SPACEBOY CAKE CASES),0.294737,0.105263,0.073684,0.25,2.375000,0.042659,1.192982
978,(SPACEBOY LUNCH BOX),"(PLASTERS IN TIN VINTAGE PAISLEY, PLASTERS IN ...",0.294737,0.073684,0.073684,0.25,3.392857,0.051967,1.235088
996,(SPACEBOY LUNCH BOX),"(PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...",0.294737,0.094737,0.073684,0.25,2.638889,0.045762,1.207018
1480,(SPACEBOY LUNCH BOX),"(STRAWBERRY LUNCH BOX WITH CUTLERY, DOLLY GIRL...",0.294737,0.073684,0.073684,0.25,3.392857,0.051967,1.235088
1837,(SPACEBOY LUNCH BOX),"(DOLLY GIRL LUNCH BOX, STRAWBERRY LUNCH BOX WI...",0.294737,0.073684,0.073684,0.25,3.392857,0.051967,1.235088

# Example

In [17]:
dataset = [['Leche', 'Verdura', 'Carnes', 'Granos', 'Huevos', 'Yogurt'],
           ['Queso', 'Verdura', 'Carnes', 'Granos', 'Huevos', 'Yogurt'],
           ['Leche', 'Fruta', 'Granos', 'Huevos'],
           ['Leche', 'Carnes', 'Granos', 'Yogurt'],
           ['Verdura', 'Granos', 'Helado', 'Huevos']]

In [18]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Carnes  Fruta  Granos  Helado  Huevos  Leche  Queso  Verdura  Yogurt
0    True  False    True   False    True   True  False     True    True
1    True  False    True   False    True  False   True     True    True
2   False   True    True   False    True   True  False    False   False
3    True  False    True   False   False   True  False    False    True
4   False  False    True    True    True  False  False     True   False

In [19]:
def encode_units(x):
    if x == 'False':
        return 0
    if x == 'True':
        return 1

basket_sets = df.applymap(encode_units)
basket_sets

  Carnes Fruta Granos Helado Huevos Leche Queso Verdura Yogurt
0   None  None   None   None   None  None  None    None   None
1   None  None   None   None   None  None  None    None   None
2   None  None   None   None   None  None  None    None   None
3   None  None   None   None   None  None  None    None   None
4   None  None   None   None   None  None  None    None   None

In [20]:
frequent_itemsets = apriori(df, min_support=0.07, use_colnames=True)

In [21]:
frequent_itemsets.head()

   support  itemsets
0      0.6  (Carnes)
1      0.2   (Fruta)
2      1.0  (Granos)
3      0.2  (Helado)
4      0.8  (Huevos)

In [22]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Granos),(Carnes),1.0,0.6,0.6,0.600000,1.000000,0.00,1.000000
1,(Carnes),(Granos),0.6,1.0,0.6,1.000000,1.000000,0.00,inf
2,(Leche),(Carnes),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
3,(Carnes),(Leche),0.6,0.6,0.4,0.666667,1.111111,0.04,1.200000
4,(Queso),(Carnes),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
927,(Granos),"(Queso, Huevos, Verdura, Carnes, Yogurt)",1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
928,(Huevos),"(Queso, Granos, Verdura, Carnes, Yogurt)",0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
929,(Verdura),"(Queso, Huevos, Granos, Carnes, Yogurt)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
930,(Carnes),"(Queso, Huevos, Granos, Verdura, Yogurt)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
931,(Yogurt),"(Queso, Huevos, Granos, Verdura, Carnes)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000

# My data

In [40]:
df = pd.read_csv('sample.csv', sep = ',', decimal = '.', header = 0, encoding = 'utf-8')
df.insert(1, 'count', 1)
df.head()

   invoice  count  stockcode
0     1000      1   galletas
1     1000      1     azucar
2     1000      1  chocolate
3     1000      1      licor
4     1000      1     yogurt

In [41]:
df_reset = df.pivot(index='invoice', 
                    columns='stockcode', 
                    values='count')
df_reset = df_reset.fillna(0)
df_reset.head()

stockcode,aceite,arroz,aseo,azucar,cafe,carne,chocolate,cuidado personal,enlatados,frutas,...,pasta,pescado,pollo,postres,queso,sal,soda,vegetales,water,yogurt
invoice,,,,,,,,,,,,,,,,,,,,,
1000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1001,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1002,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1003,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1004,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0

In [42]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = df_reset.applymap(encode_units)
basket_sets

stockcode,aceite,arroz,aseo,azucar,cafe,carne,chocolate,cuidado personal,enlatados,frutas,...,pasta,pescado,pollo,postres,queso,sal,soda,vegetales,water,yogurt
invoice,,,,,,,,,,,,,,,,,,,,,
1000,0,1,0,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1001,0,1,0,1,0,1,0,0,1,1,...,0,0,1,0,0,0,1,0,0,1
1002,0,1,0,1,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1
1003,0,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1004,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1
9996,0,1,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,1,1
9997,0,1,0,1,1,1,1,0,0,0,...,0,1,1,0,0,0,1,0,1,1
9998,0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,1,0,1,1,1,1
9999,0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,1,0,1,0,1,0

In [44]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
frequent_itemsets.head()

    support     itemsets
0  0.090556     (aceite)
1  0.497333      (arroz)
2  0.988333     (azucar)
3  0.216111      (carne)
4  0.638222  (chocolate)

In [54]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules = rules.sort_values(by=['confidence'], ascending=False)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1116,"(harina, pollo)",(galletas),0.075667,0.996556,0.075667,1.000000,1.003456,0.000261,inf
5312,"(yogurt, harina, pollo)",(galletas),0.070556,0.996556,0.070556,1.000000,1.003456,0.000243,inf
3598,"(azucar, harina, pollo)",(galletas),0.074444,0.996556,0.074444,1.000000,1.003456,0.000256,inf
826,"(carne, helado)",(galletas),0.089222,0.996556,0.089222,1.000000,1.003456,0.000307,inf
4566,"(carne, yogurt, helado)",(galletas),0.084000,0.996556,0.084000,1.000000,1.003456,0.000289,inf
8838,"(carne, azucar, helado, yogurt)",(galletas),0.083333,0.996556,0.083333,1.000000,1.003456,0.000287,inf
2800,"(carne, azucar, helado)",(galletas),0.088556,0.996556,0.088556,1.000000,1.003456,0.000305,inf
848,"(carne, queso)",(galletas),0.110556,0.996556,0.110444,0.998995,1.002448,0.000270,3.427222
2852,"(carne, azucar, queso)",(galletas),0.109222,0.996556,0.109111,0.998983,1.002436,0.000265,3.385889
212,"(carne, arroz)",(galletas),0.108889,0.996556,0.108778,0.998980,1.002432,0.000264,3.375556
1502,"(carne, azucar, arroz)",(galletas),0.107222,0.996556,0.107111,0.998964,1.002416,0.000258,3.323889
4626,"(carne, queso, yogurt)",(galletas),0.105444,0.996556,0.105333,0.998946,1.002399,0.000252,3.268778
8960,"(carne, azucar, yogurt, queso)",(galletas),0.104222,0.996556,0.104111,0.998934,1.002387,0.000248,3.230889
2008,"(carne, yogurt, arroz)",(galletas),0.103778,0.996556,0.103667,0.998929,1.002382,0.000246,3.217111
1023,"(postres, cuidado personal)",(galletas),0.102667,0.996556,0.102556,0.998918,1.002370,0.000243,3.182667
6109,"(carne, azucar, arroz, yogurt)",(galletas),0.102222,0.996556,0.102111,0.998913,1.002366,0.000241,3.168889
72,(enlatados),(galletas),0.101333,0.996556,0.101222,0.998904,1.002356,0.000238,3.141333
3369,"(postres, azucar, cuidado personal)",(galletas),0.101111,0.996556,0.101000,0.998901,1.002354,0.000237,3.134444
542,"(azucar, enlatados)",(galletas),0.100000,0.996556,0.099889,0.998889,1.002341,0.000233,3.100000
5181,"(yogurt, water, cuidado personal)",(galletas),0.100000,0.996556,0.099889,0.998889,1.002341,0.000233,3.100000

In [64]:
rules[(rules['antecedents'] == frozenset({'galletas'})) & (rules['consequents'] == frozenset({'yogurt'}))]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
93,(galletas),(yogurt),0.996556,0.941778,0.938556,0.9418,1.000023,0.000022,1.000374

In [65]:
rules[(rules['antecedents'] == frozenset({'yogurt'})) & (rules['consequents'] == frozenset({'galletas'}))]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
92,(yogurt),(galletas),0.941778,0.996556,0.938556,0.996579,1.000023,0.000022,1.006728

In [55]:
rules.shape

(23148, 9)